<!-- ng lazy load image example
<picture>
    <source media="(min-width: 900px)"  [attr.lazyLoad]="'../assets/images/dest/jungle-lg_1x.webp 1x, ../assets/images/dest/jungle-lg_2x.webp 2x'" type="image/webp"/>
    <source media="(min-width: 601px)" [attr.lazyLoad]="'../assets/images/dest/jungle-md_1x.webp 1x, ../assets/images/dest/jungle-md_2x.webp 2x'" type="image/webp"/>
    <source [attr.lazyLoad]="'../assets/images/dest/jungle-sm_1x.webp 1x, ../assets/images/dest/jungle-sm_2x.webp 2x'" type="image/webp" />
    <img [defaultImage]="'../assets/images/dest/jungle-lqip.jpg'" [lazyLoad]="'../assets/images/dest/jungle-sm_1x.jpg 600w, ../assets/images/dest/jungle-md_1x.jpg 900w, ../assets/images/dest/jungle-lg_1x.jpg 1440w'" [useSrcset]="true" type="image/jpeg"/>
</picture>

<picture>
    <source media="(min-width: 900px)" [attr.lazyLoad]="'../assets/images/dest/mountain-lg_1x.webp 1x, ../assets/images/dest/mountain-lg_2x.webp 2x'" type="image/webp"> 
    <source media="(min-width: 601px)" [attr.lazyLoad]="'../assets/images/dest/mountain-md_1x.webp 1x, ../assets/images/dest/mountain-md_2x.webp 2x'" type="image/webp"> 
    <source [attr.lazyLoad]="'../assets/images/dest/mountain-sm_1x.webp 1x, ../assets/images/dest/mountain-sm_2x.webp 2x'" type="image/webp" > 
    <img [defaultImage]="'../assets/images/dest/mountain-lqip.jpg'" [lazyLoad]="'../assets/images/dest/mountain-sm_1x.jpg 600w, ../assets/images/dest/mountain-md_1x.jpg 900w, ../assets/images/dest/mountain-lg_1x.jpg 1440w'" [useSrcset]="true" type="image/jpeg">
</picture>

<picture>
    <source media="(min-width: 900px)" [attr.lazyLoad]="'../assets/images/dest/sample-lg_1x.webp 1x, ../assets/images/dest/sample-lg_2x.webp 2x'" type="image/webp"> 
    <source media="(min-width: 601px)" [attr.lazyLoad]="'../assets/images/dest/sample-md_1x.webp 1x, ../assets/images/dest/sample-md_2x.webp 2x'" type="image/webp"> 
    <source [attr.lazyLoad]="'../assets/images/dest/sample-sm_1x.webp 1x, ../assets/images/dest/sample-sm_2x.webp 2x'" type="image/webp" > 
    <img [defaultImage]="'../assets/images/dest/sample-lqip.jpg'" [lazyLoad]="'../assets/images/dest/sample-sm_1x.jpg 600w, ../assets/images/dest/sample-md_1x.jpg 900w, ../assets/images/dest/sample-lg_1x.jpg 1440w'" [useSrcset]="true" type="image/jpeg">
</picture>

<picture>
    <source media="(min-width: 900px)" [attr.lazyLoad]="'../assets/images/dest/sea-lg_1x.webp 1x, ../assets/images/dest/sea-lg_2x.webp 2x'" type="image/webp"> 
    <source media="(min-width: 601px)" [attr.lazyLoad]="'../assets/images/dest/sea-md_1x.webp 1x, ../assets/images/dest/sea-md_2x.webp 2x'" type="image/webp"> 
    <source [attr.lazyLoad]="'../assets/images/dest/sea-sm_1x.webp 1x, ../assets/images/dest/sea-sm_2x.webp 2x'" type="image/webp" > 
    <img [defaultImage]="'../assets/images/dest/sea-lqip.jpg'" [lazyLoad]="'../assets/images/dest/sea-sm_1x.jpg 600w, ../assets/images/dest/sea-md_1x.jpg 900w, ../assets/images/dest/sea-lg_1x.jpg 1440w'" [useSrcset]="true" type="image/jpeg">
</picture> -->
<div class="block">
    test
</div>

<picture>
    <source media="(min-width: 900px)"  data-srcset="../assets/images/dest/jungle-lg_1x.webp 1x, ../assets/images/dest/jungle-lg_2x.webp 2x" type="image/webp"/>
    <source media="(min-width: 601px)" data-srcset="../assets/images/dest/jungle-md_1x.webp 1x, ../assets/images/dest/jungle-md_2x.webp 2x" type="image/webp"/>
    <source data-srcset="../assets/images/dest/jungle-sm_1x.webp 1x, ../assets/images/dest/jungle-sm_2x.webp 2x" type="image/webp" />
    <img class="lazyload blur-up" src="../assets/images/dest/jungle-lqip.jpg" data-src="../assets/images/dest/jungle-sm_1x.jpg 600w, ../assets/images/dest/jungle-md_1x.jpg 900w, ../assets/images/dest/jungle-lg_1x.jpg 1440w" type="image/jpeg"/>
</picture>

<picture>
    <source media="(min-width: 900px)" data-srcset="../assets/images/dest/mountain-lg_1x.webp 1x, ../assets/images/dest/mountain-lg_2x.webp 2x" type="image/webp"> 
    <source media="(min-width: 601px)" data-srcset="../assets/images/dest/mountain-md_1x.webp 1x, ../assets/images/dest/mountain-md_2x.webp 2x" type="image/webp"> 
    <source data-srcset="../assets/images/dest/mountain-sm_1x.webp 1x, ../assets/images/dest/mountain-sm_2x.webp 2x" type="image/webp" > 
    <img class="lazyload blur-up" src="../assets/images/dest/mountain-lqip.jpg" data-src="../assets/images/dest/mountain-sm_1x.jpg 600w, ../assets/images/dest/mountain-md_1x.jpg 900w, ../assets/images/dest/mountain-lg_1x.jpg 1440w" type="image/jpeg">
</picture>

<picture>
    <source media="(min-width: 900px)" data-srcset="../assets/images/dest/sample-lg_1x.webp 1x, ../assets/images/dest/sample-lg_2x.webp 2x" type="image/webp"> 
    <source media="(min-width: 601px)" data-srcset="../assets/images/dest/sample-md_1x.webp 1x, ../assets/images/dest/sample-md_2x.webp 2x" type="image/webp"> 
    <source data-srcset="../assets/images/dest/sample-sm_1x.webp 1x, ../assets/images/dest/sample-sm_2x.webp 2x" type="image/webp" > 
    <img class="lazyload blur-up" src="../assets/images/dest/sample-lqip.jpg" data-src="../assets/images/dest/sample-sm_1x.jpg 600w, ../assets/images/dest/sample-md_1x.jpg 900w, ../assets/images/dest/sample-lg_1x.jpg 1440w" type="image/jpeg">
</picture>

<picture>
    <source media="(min-width: 900px)" data-srcset="../assets/images/dest/sea-lg_1x.webp 1x, ../assets/images/dest/sea-lg_2x.webp 2x" type="image/webp"> 
    <source media="(min-width: 601px)" data-srcset="../assets/images/dest/sea-md_1x.webp 1x, ../assets/images/dest/sea-md_2x.webp 2x" type="image/webp"> 
    <source data-srcset="../assets/images/dest/sea-sm_1x.webp 1x, ../assets/images/dest/sea-sm_2x.webp 2x" type="image/webp" > 
    <img class="lazyload blur-up" src="../assets/images/dest/sea-lqip.jpg" data-src="../assets/images/dest/sea-sm_1x.jpg 600w, ../assets/images/dest/sea-md_1x.jpg 900w, ../assets/images/dest/sea-lg_1x.jpg 1440w" type="image/jpeg">
</picture>


<!-- <img style="width: 350px; height: 150px;" data-src="../assets/images/dest/jungle-sm_1x.jpg" class="lazyload" />
<img data-src="../assets/images/dest/mountain-sm_1x.jpg" class="lazyload" />
<img data-src="../assets/images/dest/sample-sm_1x.jpg" class="lazyload" />
<img data-src="../assets/images/dest/sea-sm_1x.jpg" class="lazyload" /> -->
                  